<header class="flex w-full justify-start py-2 border-b-2 border-ccl-dark"> 
    <nav class="flex w-full justify-between" aria-label="Primary Site Navigation">
      
        <div class="acc-logo h-24 sm:h-28 w-3/4 lg:w-1/4 ">
          <span class="sr-only"> The Law Firm of Adriel Colon-Casiano </span>
        </div>
          <div class="flex lg:hidden w-1/4 justify-end">
            <button class="block lg:hidden p-4 mr-2 md:mr-8 focus:!outline-white text-black mobile-button" id="mobile-menu" aria-controls="list-menu" aria-expanded="false">
              
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000" class="bi bi-list mobile-button"  viewBox="0 0 16 16">
                <path id="mobile-icon" class="mobile-button" fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
              
              <span class="sr-only">Mobile Navigation Menu</span>
            </button>
          </div>
  
      <ul class="hidden absolute mt-24 pl-4 lg:pl-0 bg-ccl-dark text-white lg:text-black lg:bg-white right-0 lg:mt-0 lg:static lg:flex lg:items-end lg:mr-8 captialize font-bold" id="list-menu" >
      {% for links in params.items %}
        <li class=" p-4 text-lg uppercase">
            <a href="{{links.link}}" class="inline-block submenu-link">{{links.title}}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>
</header>



