<script>
function filter(e){
    search = e.value.toLowerCase();
    document.querySelectorAll('.filter-card').forEach(function(row){
        text = row.getAttribute("data-meta").toLowerCase();
        if(text.match(search)){
            row.classList.remove("hidden");
        } else {
            row.classList.add("hidden");
        }
    });
    filterCount = document.querySelectorAll('.filter-card:not(.hidden)').length;
    var word = (filterCount === 1) ? "blog" : "blog";
    document.getElementById("filter-count").innerHTML = `<strong>${filterCount}</strong> ${word} results`
}
</script>
<section class="flex flex-col w-full lg:w-1/2 m-auto py-8">
<div role="region" aria-label="Component search" aria-atomic="true" class="mb-8">
    <label for="ccl-filter" class="text-xl font-bold ">Search the Blog</label>
    <input class="border-2 border-ccl-dark ml-2 p-1" id="ccl-filter" class="" type="text" onkeyup="filter(this)"/>
    <p class="" aria-live="polite"><span id="filter-count"></p>
  </div>
<h2>{{params.heading}}</h2>
<ul class="list-none">
{%for filtercard in params.filtercards%}
<a href="{{filtercard.link}}" class="">
<li class="filter-card" role="region" aria-atomic="true" aria-label="{{filtercard.title}}" data-meta="{{filtercard.title}} {{filtercard.description}}">
    <div class="my-4 p-4 border border-ccl-mid rounded">
        <h3 class="text-2xl hover:underline">{{filtercard.title}}</h3>
        <div class="text-sm uppercase pt-2"> {{filtercard.date}} </div>
        <p class="py-4">{{filtercard.description}}</p>
    </div>
  </li>
  </a>
  {%endfor%}
</ul>
</section>
