<section class="flex flex-col my-14">
<h2 class="text-2xl font-extrabold text-center text-black mb-4 w-full">{{params.frametitle}}</h2>
<div class="self-center lg:justify-center flex flex-col lg:flex-row lg:flex-wrap">

{% for card in params.cards %}
<a class="flex hover:underline focus:underline no-underline mx-2  " href="{{card.link}}">
<article class="w-96 mx-2 my-6 rounded-3xl border-ccl-light  border-2 hover:bg-gray-100 hover:border-ccl-dark focus:bg-gray-100 focus:border-ccl-dark">
<div class="">
<img class="rounded-t-3xl object-cover " src="{{card.image}}" alt="{{card.imagealt}}" />
</div>
<h3 class="font-bold text-xl mb-6 mt-8 text-center">
{{card.title}}
</h3>
<p class="m-6 text-black ">{{card.content}}</p>
</article>
</a>
{% endfor %}

</div>
</section>